header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(assets/img/original.jpg);
  background-size: contain;
  height: 100vh;
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 2rem;
}

.logo {
  height: 1.3rem;
  overflow-y: hidden;
}
.logo img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.nav-txt {
  color: #ffffff;
  font-weight: bold;
}
.hero-bundle {
  position: absolute;
  color: white;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.bundle-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 20px;
}

.bundle-info {
  flex-shrink: 1;
  text-align: center;
  width: 100%;
}

.section-title {
  color: #1ce783;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 0 0 10px 0;
}

.bundle-img {
  margin: 20px;
}
.bundle-img img {
  width: 250px;
  height: 80px;
}

.bundle-txt {
  font-size: 21px;
  font-weight: 700;
  margin: 20px;
}

.bundle-container .hero-button {
  padding: 10px 1rem 10px 1rem;
  background-color: #1ce783;
  border-radius: 5px;
  width: 20rem;
  color: black;
  text-align: center;
}

.bundle-links {
  text-align: center;
}

.bundle-links li {
  margin: 10px 0 20px 0;
  text-decoration: underline;
  list-style: none;
}

.commercial {
  background-color: #0b0c0f;
  height: 100%;
  padding: 88px 20px 50px;
  position: relative;
}

.commercial-header {
  text-align: center;
  margin: 40px 0 0 0;
}

.commercial-slogan {
  color: white;
  margin: 16px 0 10px 0;
  font-size: 1.9rem;
  font-weight: 800;
}

.commercial-txt {
  display: block;
  color: #ffffff;
  margin: 0px 33px;
  font-size: 0.9rem;
  padding: 16px 0 0;
  margin: 0 150px 0 150px;
  line-height: 1.5;
}

.categories {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 0 125px 0 125px;
}

.categories-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  width: 280px;
}

.categories-card:hover {
  border: 2px solid #afafaf;
  filter: brightness(50%);
}

.categories-img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.cat-desc {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  top: 0;
  padding: 10px;
  text-align: left;
}

.desc-title {
  font-size: 12px;
}

.genre {
  font-size: 20px;
  padding: 20px 0;
}

.commercial-button {
  text-align: center;
  display: inline-block;
  background-color: #1ce783;
  margin: 20px;
  padding: 10px 20px;
  font-weight: 900;
  color: #0b0c0f;
  border-radius: 10px;
}

.commercial-info {
  color: #afafaf;
  font-size: 10px;
}
.commercial-link {
  margin: 50px;
  color: #ffffff;
  text-decoration: underline;
}

.live-section {
  background-image: url(assets/img/sports-bg-1.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  position: absolute;
  left: 10%;
  right: 40%;
  padding: 2rem;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tab li {
  margin: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 0;
}
.tab .active {
  border-bottom: 2px solid #ffffff;
}

.partners-title {
  font-size: 34px;
  color: #ffffff;
  font-weight: bold;
}

.partners-txt {
  color: #ffffff;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.partner-card {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  height: 50px;
  margin: 10px;
}

.partner-image img {
  width: 50px;
  height: 40px;
}

.plan-section {
  position: relative;
  background-color: #0b0c0f;
  height: 100%;
  text-align: center;
}

.plan-topic {
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  margin: 30px;
}

.plan-txt {
  color: #ffffff;
  font-size: 24px;
  margin: 20px;
}

.plan-txt span {
  font-weight: bold;
}
.scrolling {
  position: relative;
}
.plan-head-container {
  top: 0;
  overflow: auto;
  z-index: 1;
  position: sticky;
  margin: 0 80px;
  display: flex;
  padding-top: 0;
  justify-content: center;
  border-top: 1px solid #afafaf;
}
.head-toggle {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: flex-end;
}

.plan-type {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.plan-head {
  display: flex;
  padding: 0;
  text-align: center;
  flex-grow: 2;
}

.card-0 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  flex-direction: column;
  align-self: stretch;
}

.card-1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1;
  align-self: stretch;
}
.plan-feature-item {
  margin: 0 80px;
  display: flex;
  padding-top: 0;
  justify-content: space-around;
  border-top: 1px solid #afafaf;
  padding: 20px;
}
.plan-feature-standard {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 580px;
  text-align: left;
  font-size: 14px;
}
.plan-feature-standard-pricing {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 150px;
}
.check-0 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.head-item {
  text-align: center;
}

.head-item-topic {
  padding: 5px 1px;
  font-size: 14px;
  background-color: #1ce783;
  margin: 10px 0;
  border-radius: 15px;
  color: #0b0c0f;
}

.no-display {
  margin: 19px 100px;
  background-color: #0b0c0f;
}

.head-txt p {
  font-weight: bold;
  font-size: 1rem;
}
.head-txt p span {
  color: #afafaf;
  font-weight: bold;
}
.add-on {
  padding: 30px;
  color: #ffffff;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  margin: 50px;
}
.head-button {
  background-color: #ffffff;
  padding: 10px 5px;
  color: #0b0c0f;
  margin: 10px 0px;
  border-radius: 5px;
  width: 200px;
}

.footer-container {
  text-align: left;
  margin: 0 250px;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding: 52px 0 86px;
  gap: 135px;
  flex-wrap: wrap;
  border-bottom: 1px solid #afafaf;
}

.browse-item {
  display: flex;
  justify-content: space-evenly;
  gap: 125px;
  flex-wrap: wrap;
}

ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: #586174;
}
.title-footer {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #272c34;
  padding: 8px 0px;
}

.footer-legal-links {
  padding: 30px 0px;
}

.links-left a {
  padding-right: 32px;
}
.legal-links-right {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.links-right {
  color: #586174;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.44;
}
@media screen and (max-width: 1500px) {
  .plan-feature-standard-pricing {
    flex-basis: 140px;
  }
  .plan-feature-standard {
    flex-basis: 364px;
  }
  .check-0 {
    flex-basis: 213px;
  }
}

@media screen and (max-width: 1185px) {
  .plan-feature-standard-pricing {
    flex-basis: 140px;
  }
  .plan-feature-standard {
    flex-basis: 445px;
  }
  .check-0 {
    flex-basis: 770px;
  }
}

@media screen and (max-width: 968px) {
  header {
    height: 100vh;
  }
  .hero-bundle {
    top: 60%;
  }
  .bundle-container {
    gap: 0px;
    padding: 2.5rem;
  }
  .bundle-img {
    margin: 0px;
  }
  .bundle-img img {
    width: 192px;
    height: 74px;
    padding: 1rem;
    margin: 10px;
  }
  .bundle-container .hero-button {
    width: 13rem;
  }
  .categories {
    padding: 0px;
    gap: 18px;
  }
  .categories-card {
    width: 175px;
  }

  .commercial-txt {
    margin: 0;
  }
  .wrapper {
    left: 0;
    right: 0;
  }
  .plan-head-container {
    flex-direction: column;
    margin: 0;
  }

  .head-toggle {
    justify-content: center;
    border: 1px solid #afafaf;
  }
  .head-toggle-feature {
    justify-content: center;
    border-top: 1px solid #afafaf;
  }
  .plan-item {
    width: 100%;
  }

  .head-item-topic {
    margin: 10px 0px;
    font-size: 10px;
    padding: 5px 24px;
    width: 100px;
  }
  .head-button {
    margin: 10px 0;
  }
  .plan-feature-item {
    flex-direction: column;
    padding: 10px;
  }
  .plan-feature-standard {
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-basis: 0px;
    overflow: hidden;
  }
  .plan-feature-standard-pricing {
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-basis: 0px;
    overflow: hidden;
    flex-basis: 0px;
  }
  .plan-feature-standard-pricing div {
    flex-direction: column;
    text-align: center;
  }
  .plan-feature-standard div {
    flex-direction: column;
    text-align: center;
  }
  .plan-feature-item {
    margin: 0;
  }
  .check-0 {
    gap: 100px;
    flex-basis: 0px;
    overflow: hidden;
  }
  .card-0 {
    margin: 0;
    padding-right: 30px;
  }
  .card-1 {
    margin: 0;
    justify-content: flex-end;
    padding: 0;
    border-left: 1px solid #afafaf;
  }
  .footer-container {
    margin: 0;
  }
  .footer-links {
    justify-content: flex-start;
    padding: 5px;
  }
  .browse-item {
    justify-content: flex-start;
    gap: 10px;
  }
  .check-0 {
    padding: 20px;
  }
  .footer-links {
    gap: 13px;
  }
  .tab li {
    font-size: 10px;
    margin: 8px;
  }
  .head-button {
    width: 180px;
  }
}
