header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(assets/img/original.jpg);
  background-size: contain;
  height: 100vh;
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 2rem;
}

.logo {
  height: 1.3rem;
  overflow-y: hidden;
}
.logo img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.nav-txt {
  color: #ffffff;
  font-weight: bold;
}
.hero-bundle {
  position: absolute;
  color: white;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.bundle-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 20px;
}

.bundle-info {
  flex-shrink: 1;
  text-align: center;
  width: 100%;
}

.section-title {
  color: #1ce783;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 0 0 10px 0;
}

.bundle-img {
  margin: 20px;
}
.bundle-img img {
  width: 250px;
  height: 80px;
}

.bundle-txt {
  font-size: 21px;
  font-weight: 700;
  margin: 20px;
}

.bundle-container .hero-button {
  padding: 10px 1rem 10px 1rem;
  background-color: #1ce783;
  border-radius: 5px;
  width: 20rem;
  color: black;
  text-align: center;
}

.bundle-links {
  text-align: center;
}

.bundle-links li {
  margin: 10px 0 20px 0;
  text-decoration: underline;
  list-style: none;
}

.commercial {
  background-color: #0b0c0f;
  height: 100%;
  padding: 88px 20px 50px;
  position: relative;
}

.commercial-header {
  text-align: center;
  margin: 40px 0 0 0;
}

.commercial-slogan {
  color: white;
  margin: 16px 0 10px 0;
  font-size: 1.9rem;
  font-weight: 800;
}

.commercial-txt {
  display: block;
  color: #ffffff;
  margin: 0px 33px;
  font-size: 0.9rem;
  padding: 16px 0 0;
  margin: 0 150px 0 150px;
  line-height: 1.5;
}

.categories {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 0 125px 0 125px;
}

.categories-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  width: 280px;
}

.categories-card:hover {
  border: 2px solid #afafaf;
  filter: brightness(50%);
}

.categories-img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.cat-desc {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  top: 0;
  padding: 10px;
  text-align: left;
}

.desc-title {
  font-size: 12px;
}

.genre {
  font-size: 20px;
  padding: 20px 0;
}

.commercial-button {
  text-align: center;
  display: inline-block;
  background-color: #1ce783;
  margin: 20px;
  padding: 10px 20px;
  font-weight: 900;
  color: #0b0c0f;
  border-radius: 10px;
}

.commercial-info {
  color: #afafaf;
  font-size: 10px;
}
.commercial-link {
  margin: 50px;
  color: #ffffff;
  text-decoration: underline;
}

.live-section {
  background-image: url(assets/img/sports-bg-1.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  position: absolute;
  left: 10%;
  right: 40%;
  padding: 2rem;
  overflow-y: hidden;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tab li {
  margin: 20px;
  list-style: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
}
.tab .active {
  border-bottom: 2px solid #ffffff;
}

.partners-title {
  font-size: 34px;
  color: #ffffff;
  font-weight: bold;
}

.partners-txt {
  color: #ffffff;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.partner-card {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  height: 50px;
  margin: 10px;
}

.partner-image img {
  width: 50px;
  height: 40px;
}

.plan-section {
  background-color: #0b0c0f;
  height: 100%;
  text-align: center;
}

.plan-topic {
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  margin: 30px;
}

.plan-txt {
  color: #ffffff;
  font-size: 24px;
  margin: 20px;
}

.plan-txt span {
  font-weight: bold;
}

.plan-container {
  margin: 0 80px;
  display: flex;
  flex-direction: column;
}

.plan-item-sticky {
  padding: 20px;
  position: sticky;
  top: 0;
}
.plan-type div {
  display: inline-block;
  margin: 10px;
}

.plan-features {
  display: flex;
  justify-content: space-evenly;

  margin: 10px;
  padding: 20px;

  border-top: 1px solid #afafaf;
}

.plan-item {
  flex-grow: 1;
  width: 30px;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.head-item {
  text-align: center;
}

.head-item-topic {
  padding: 5px 1px;
  font-size: 14px;
  background-color: #1ce783;
  margin: 10px 100px;
  border-radius: 15px;
  color: #0b0c0f;
}

.no-display {
  margin: 19px 100px;
  background-color: #0b0c0f;
}

.head-txt p {
  font-weight: bold;
  font-size: 23px;
}
.head-txt p span {
  color: #afafaf;
  font-weight: bold;
}

.head-button {
  background-color: #ffffff;
  padding: 10px 5px;
  color: #0b0c0f;
  margin: 10px 40px;
  border-radius: 5px;
}

@media screen and (max-width: 968px) {
  header {
    height: 100vh;
  }
  .hero-bundle {
    top: 60%;
  }
  .bundle-container {
    gap: 0px;
    padding: 2.5rem;
  }
  .bundle-img {
    margin: 0px;
  }
  .bundle-img img {
    width: 192px;
    height: 74px;
    padding: 1rem;
    margin: 10px;
  }
  .bundle-container .hero-button {
    width: 13rem;
  }
  .categories {
    padding: 0px;
    gap: 18px;
  }
  .categories-card {
    width: 175px;
  }

  .commercial-txt {
    margin: 0;
  }
  .wrapper {
    left: 0;
    right: 0;
  }
}
